body{
    background-image: url("https://i.ibb.co/Wp3qPSw/pexels-photo-1762851.jpg");
    background-size: cover;
    background-size: 105% 500%;
    background-repeat: no-repeat;
}
div{
    position: relative;
    top: 50px;
    left: 100px;
}
#head1{
    font-family:Century Gothic;
    color: #5c3c86;
}
#head2{
    font-family: cursive;
    color: #153147;
}
#git{
    height: 50px;
    width: 50px;    
}
footer{
    position: absolute;
    top: 30rem;
    left: 30rem;
    display: block;
}